.list-table {
  font-size: 16px;

  * {
    box-sizing: border-box;
  }
  
  &__head {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  &__body {
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: scroll;
    overflow-y: overlay;
  }

  &__list {
    display: flex;
    border-bottom: 1px solid #f1f1f1;

    &--head {
      border-bottom: 1px solid #ebebeb;
      background: #eee;

      span {
        background: #eee;
      }
    }

    span {
      padding: 8px 12px;
    }
  }
}
